<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img width="150" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" class="avatar img-circle" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input type="file" class="form-control">
            </div>
        </div>

        <!-- edit form column -->
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name :</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="อเมริกาโน่">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name :</label>
                    <div class="col-lg-8">
                    <input class="form-control" type="text" value="โลโนติเย่">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Tel :</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Line :</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Location :</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="Location" class="form-control">
                                <option value="โรงอาหารพระเทพ">โรงอาหารพระเทพ</option>
                                <option value="โรงอาหาร A">โรงอาหาร A</option>
                                <option value="โรงอาหารถิ่นชงโค">โรงอาหารถิ่นชงโค</option>
                                <option value="โรงอาหาร C">โรงอาหาร C</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Pay :</label>
                    <div class="col-lg-8">
                    <input class="form-control" type="text" value="Cast, PromptPay and Truemoney Wallet">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Username :</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" value="admin">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Password :</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" value="11111111">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm password :</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" value="11111111">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-primary" value="Save Changes">
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>