@model UserModel;
@{
}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">@Model.Username</span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form asp-controller="Account" asp-action="EditProfile" method="POST">
                <div class="row mt-2 gy-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input class="form-control" type="hidden" asp-for="UserId">
                        <input class="form-control" type="hidden" asp-for="Username">
                        <input class="form-control" type="hidden" asp-for="Password">
                    <div class="col-md-12">
                        <h5 class="d-inline-block">Firstname: </h5>
                        <input class="form-control" type="text" asp-for="Firstname" >
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <h5 class="d-inline-block">Lastname: </h5>
                        <input class="form-control" type="text" asp-for="Lastname" >
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <h5 class="d-inline-block">Phone number: </h5>
                        <input class="form-control" type="text" asp-for="Phone" >
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save Change</button>
                    </div>
                </div>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>