@model IEnumerable<ProjectKMITL.Models.Cafeteria>;
@{
    ViewData["Title"] = "Finding Cafeteria";
}
<div class="container-fluid">
    @foreach (var Cafeteria in Model)
    {
        <div class="mb-3">
            <div class="Cafeteria bg-white border border-dark border-2 rounded-pill px-3" style="cursor:pointer" onclick="location.href='@Url.Action(Cafeteria.Destination)'">
                <div class="mx-5 p-3">
                    <div class="row">
                        <div class="col-md-3 col-12 d-flex align-items-center justify-content-center" >
                            <img class="img-fluid border rounded-circle" src="~/Images/@Cafeteria.CafeteriaImg" alt="@Cafeteria.Name">
                        </div>
                        <div class="col-md-6 col-12 my-5 my-0-xl">
                            <h3>@Cafeteria.Name</h3>
                            <h4 class="d-inline">location: </h4><p class="d-inline">@Cafeteria.Location</p>
                        </div>
                        <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                            <img class="img-fluid border rounded-circle" src="~/Images/@Cafeteria.Image" alt="Map location">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
