@model IEnumerable<ProjectKMITL.Models.ResModel>;
@{
    ViewData["Title"] = "SelectFoodCafeteriaA";
}

<div class="container-fluid">
    <h3>โรงอาหาร A</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var ResModel in Model)
        {
            <div class="col-xl-4 col-sm-3 text-center my-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="img-fluid" src="~/Images/@ResModel.img" alt="@ResModel.name">
                        <div class="card-body">
                            <p class="card-text">@ResModel.detail</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="btn">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
    </div>
</div>
