@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cart";
}
<div class="container-fluid">
    <h3>รถเข็น</h3>
    <div class="row">
        <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); ">
            <div style="border-radius: 80px; padding: 150px; background-color: #F8F8F8; color:black;">
                <img src="image.jpg" alt="Image" style="float: left; margin-right: 20px;">
                <h2>ชื่อร้าน</h2>
                <h2>โรงพระเทพ</h2>         
                <hr style="border: 2px solid black; margin: 10px;">
                <p>Content</p>
            </div>
        </div>
    </div>
</div>