@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="border border-dark border-2" style="border-radius: 25px;">

                <div class="row">
                    <div class="col-md-12">
                        <img class="img-circle" style='float:left;width:200px;height:200px; margin-right:10px;' src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" />
                        <p>ชื่อร้าน</p>
                        <button type="button" class="btn btn-warning">โรงพระเทพ</button>

                        <table class="table table-borderless">
                            <thread>
                                <tr>
                                    <th>รายการอาหาร</th>
                                    <th>ราคา</th>
                                </tr>
                            </thread>
                            <tbody>
                                <tr>
                                    <th>ข้าวไก่คาราเกะ (x2)</th>
                                    <th>80</th>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>ข้าวแกงกระหรี่ไก่ทอด (x1)</th>
                                    <th>45</th>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th>ราคารวม</th>
                                    <th>125</th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-warning bg-white">Cancle</button>
                        <button type="button" class="btn btn-warning">Confirm</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>