@{
    ViewData["Title"] = "Help";
}

<div class="container">
    <h1>About</h1>
    <hr>
    <div class="row">

            <h3>เกี่ยวกับ</h3>

        <h1>KMITL FOOD</h1>
        <p> Delivery Restaurants.</p>
        <h4 id="สารบัญ">สารบัญ</h4>
        <ul>
            <li><a href="#KMITL FOOD">KMITL FOOD คืออะไร</a></li>
            <li><a href="ร่วมงานกับเรา">ร่วมงานกับเรา</a></li>
            <li><a href="#Cafeteria">Cafeteria</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>

        <h3 id="KMITL FOOD">KMITL FOOD คืออะไร</h3>
        <p>
            KMITL FOOD เป็นบริการจัดส่งอาหารที่รวดเร็ว เราได้จัดเตรียมอาหารจานโปรด ร้านอาหาร 
            และอาหารอร่อยอื่นๆ ทั้งหมดของคุณ เพื่อช่วยให้คุณสามารถเลือกอาหารของคุณด้วยวิธีที่ง่ายและรวดเร็วที่สุดเท่าที่จะเป็นไปได้ 
            ค้นหาและสั่งอาหารจานโปรดที่คุณชื่นชอบได้ภายในคณะวิศวกรรมศาสตร์ "สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง"
            เพียงแค่แตะไม่กี่ครั้งผ่านระบบออนไลน์ <br>
            ไม่ว่าจะเป็น โรงอาหารพระเทพ,โรงอาหาร A,โรงอาหารถิ่นชงโค,โรงอาหาร C !!! 
            เราอยู่ที่นี่เพื่อตอบสนองความหิวของคุณด้วยร้านพันธมิตรในคณะวิศวกรรมศาสตร์ <br>
            "สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง"มากมายให้เลือกสรร
        </p>

        <h3 id="ร่วมงานกับเรา">ร่วมงานกับเรา</h3>
        <p>
            • รับผู้ที่ศึกษาภายในองค์กรณ์ "สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง" <br>
            • หน้าที่ : บริการลูกค้าประเภทอาหารและเครื่องดื่ม <br>
            • สนใจสมัครงาน : Application "KMITLFOOD" <br>
            • หากมีข้อสงสัยหรืออยากทราบข้อมูลเพิ่มเติมสามารถติดต่อได้ตามช่องทางการติดต่อด้านล่าง (Contact) <br>
        </p>

        <h3 id="Cafeteria">Cafeteria</h3>
        <p>
            <p>● โรงอาหารพระเทพ</p> <br>
            <p>● โรงอาหาร A</p> <br>
            <p>● โรงอาหารถิ่นชงโค</p> <br>
            <p>● โรงอาหาร C </p><br>
        </p>

        <h3 id="Contact">Contact</h3>
        <p>
            Instagram : kmitlofficial <br>
            Facebook : KMITL <br>
            Line : kmitlFood <br>
        </p>
 
    </div>
</div>
<hr>