@{
    ViewData["Title"] = "Home Page";
}


<div class="row container-fluid position-absolute top-50 start-50 translate-middle">
    <div class="col-md-6 text-xl-start col-12 text-center">
        <h2>เว็บไซต์สั่งอาหาร</h2>
        <h4>อันดับหนึ่งใน KMITL</h4>
        <div class="text-center">
            <input class="btn btn-dark mw-100 w-100" type="button" value="สั่งเลย" onclick="location.href='@Url.Action("Index", "FindCafeteria")'" />
        </div>
    </div>
    <div class="col-md-6 col-12 text-center text-md-end  ">
        <img class="img-fluid" src="~/Images/logo.png" alt="logo">
    </div>


</div>
