@{
    ViewData["Title"] = "Home Page";
}


<div class="row container-fluid">
    <div class="col-xl-6 text-xl-start col-sm-12 text-sm-center">
        <h2>เว็ปไซต์สั่งอาหาร</h2>
        <h4>อันดับหนึ่งใน KMITL</h4>
        <div class="text-center">
            <input class="btn btn-dark mw-100 w-100" type="button" value="สั่งเลย" onclick="location.href='@Url.Action("Privacy", "Home")'" />
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 text-sm-center text-xl-end">
        <img src="" alt="logo" width='500'>
    </div>


</div>
