@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="container">
    <hr>
    <div class="row">

        <h1>ประกาศความเป็นส่วนตัว</h1>
        <p>
            ประกาศความเป็นส่วนตัว และส่วนที่แก้ไขเพิ่มเติมนี้ (“ประกาศความเป็นส่วนตัว”)
            ใช้อธิบายว่า KMITL FOOD  เก็บรวบรวม ใช้ ประมวลผล และเปิดเผยข้อมูลส่วนบุคคลของท่าน
            ผ่านการใช้งานแอปพลิเคชันและเว็บไซต์ของ KMITL (เรียกว่า “แอปฯ” หรือ “เว็บไซต์” ตามลำดับ)
            ผลิตภัณฑ์ ฟีเจอร์ (feature) และบริการใด ๆ ใน"สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง" <br>
            ซึ่งดำเนินการโดย KMITL (รวมเรียกว่า “บริการ”)ประกาศความเป็นส่วนตัวนี้ใช้กับลูกค้า ตัวแทน ผู้ค้า ผู้จัดหา พาร์ทเนอร์
            (เช่น พาร์ทเนอร์คนขับและจัดส่ง และพาร์ทเนอร์ร้านค้า) ผู้รับจ้าง <br>
            และผู้ให้บริการ (รวมเรียกว่า “ท่าน”)
        </p>
        <h4 id="สารบัญ">สารบัญ</h4>
        <ul>
            <li><a href="#ข้อมูลส่วนบุคคล">ข้อมูลส่วนบุคคล</a></li>
            <li><a href="#การเก็บรวบรวมข้อมูลส่วนบุคคล">การเก็บรวบรวมข้อมูลส่วนบุคคล</a></li>
            <li><a href="#การเก็บรักษาข้อมูลส่วนบุคคล">การเก็บรักษาข้อมูลส่วนบุคคล</a></li>
            <li><a href="#การคุ้มครองข้อมูลส่วนบุคคล">การคุ้มครองข้อมูลส่วนบุคคล</a></li>
            <li><a href="#สิทธิต่อข้อมูลส่วนบุคคลของท่าน">สิทธิต่อข้อมูลส่วนบุคคลของท่าน</a></li>
        </ul>

        <h3 id="ข้อมูลส่วนบุคคล">ข้อมูลส่วนบุคคล</h3>
        <p>
            “ข้อมูลส่วนบุคคล” หมายถึง ข้อมูลใด ๆ ที่สามารถใช้เพื่อระบุตัวตนของท่านได้หรือที่ระบุตัวตนของท่านได้จากข้อมูลนั้น
            ซึ่งรวมถึงโดยไม่จำกัดเฉพาะ ชื่อ สัญชาติ หมายเลขโทรศัพท์ รายละเอียดของธนาคารและบัตรเครดิต ความสนใจส่วนบุคคล
            ที่อยู่ไปรษณีย์อิเล็กทรอนิกส์ (email address) ภาพถ่ายของท่าน หมายเลขประจำตัวที่หน่วยงานราชการออกให้แก่ท่าน
            ข้อมูลชีวภาพ (biometric) เชื้อชาติ วันเกิด สถานภาพสมรส ศาสนา ข้อมูลสุขภาพ ข้อมูลยานพาหนะและประกันภัย
            ข้อมูลการจ้างงาน และ ข้อมูลทางการเงินเราเก็บรวบรวม ใช้ เปิดเผย หรือประมวลผลข้อมูลส่วนบุคคลของท่านภายใต้
            ประกาศความเป็นส่วนตัวนี้โดยอาศัยฐานความยินยอมของท่าน หรือฐานตามกฎหมายที่มีผลบังคับใช้ เช่น :
        </p>
        <p>
            • มีความจำเป็นต่อการปฏิบัติตามกฎหมาย
        <p>
            • มีความจำเป็นต่อการทำสัญญาหรือปฏิบัติตามสัญญากับท่าน และ/หรือ
        <p>
            • เพื่อประโยชน์โดยชอบด้วยกฎหมายของเราหรือประโยชน์โดยชอบด้วยกฎหมายของบุคคลอื่น รวมถึงแต่ไม่จำกัดเพียงเพื่อวัตถุประสงค์ที่กำหนดไว้ในประกาศความเป็นส่วนตัวนี้
        <p>
        <p />

        <h3 id="การเก็บรวบรวมข้อมูลส่วนบุคคล">การเก็บรวบรวมข้อมูลส่วนบุคคล</h3>
        <p>
            เราเก็บรวบรวมข้อมูลส่วนบุคคลของท่านตามวิธีการที่จะกล่าวดังต่อไปนี้: <br>
            ท่านให้ข้อมูลส่วนบุคคลของท่านกับเรา <br>
            เราเก็บรวบรวมข้อมูลส่วนบุคคลของท่านที่ท่านให้เรามา เช่นในกรณีที่ท่านดำเนินการดังต่อไปนี้: <br><br>

            • กรอกรายละเอียดหน้าประวัติผู้ใช้งาน หรือใบสมัคร (เช่น ชื่อ ข้อมูลการติดต่อ และ ข้อมูลประจำตัวของท่าน เท่าที่จำเป็น)
        <p>
            • ติดต่อกับหน้าสื่อสังคมออนไลน์ (social media) ของเรา (เช่น บัญชีผู้ใช้งานสื่อสังคมออนไลน์ รูปโปรไฟล์ และ ข้อมูลที่เผยแพร่ต่อสาธารณะแล้วอื่นๆ)
        <p>
            • เยืนยันตัวตนของท่านผ่านสื่อต่างๆ (เช่น การลงชื่อเข้าใช้สื่อสังคมออนไลน์ การส่งรูปถ่ายตัวเองของท่าน หรือ ข้อมูลบัตรชำระเงินซึ่งได้รับการยืนยันโดยบุคคลอื่น)
        <p>
        </p>

        <h3 id="การเก็บรักษาข้อมูลส่วนบุคคล">การเก็บรักษาข้อมูลส่วนบุคคล</h3>
        <p>
            เราจะเก็บรักษาข้อมูลส่วนบุคคลของท่านตามระยะเวลาตราบเท่าที่ยังมีความจำเป็นเพื่อการบรรลุวัตถุประสงค์ที่ได้ระบุในประกาศนี้ เว้นแต่ กฎหมายบังคับหรืออนุญาตให้เราเก็บรักษาข้อมูลได้ในระยะเวลาที่นานกว่านั้น เมื่อข้อมูลส่วนบุคคลของท่านไม่จำเป็นสำหรับบริการหรือวัตถุประสงค์ของเราแล้ว หรือ เราไม่มีวัตถุประสงค์ทางกฎหมายหรือทางธุรกิจใดในการเก็บรักษาข้อมูลส่วนบุคคลของท่าน เราจะดำเนินการลบ ทำลาย ทำให้เป็นข้อมูลที่ไม่สามารถระบุตัวบุคคลที่เป็นเจ้าของข้อมูลส่วนบุคคลได้ หรือ ป้องกันการเข้าถึงหรือการใช้ข้อมูลส่วนบุคคลของท่านเพื่อวัตถุประสงค์อื่นใดนอกเหนือจากการปฏิบัติตามประกาศนี้ หรือเพื่อการรักษาความปลอดภัย ความมั่นคง และการตรวจสอบและป้องกันการฉ้อโกง ตามที่กำหนดไว้ในกฎหมายที่มีผลบังคับใช้
        </p>

        <h3 id="การคุ้มครองข้อมูลส่วนบุคคล">การคุ้มครองข้อมูลส่วนบุคคล</h3>
        <p>
            เราจะดำเนินการด้วยมาตรการตามกฎหมาย องค์กร และเทคนิค เพื่อรับรองว่าข้อมูลส่วนบุคคลของท่านจะได้รับความคุ้มครอง โดยประการนี้ให้หมายรวมถึงมาตรการป้องกันการสูญหาย หรือใช้ หรือเข้าถึงข้อมูลส่วนบุคคลโดยไม่ได้รับอนุญาต เราจำกัดการเข้าถึงข้อมูส่วนบุคคลของพนักงานของเราภายใต้หลักความจำเป็นต้องรู้ข้อมูล กระบวนการใดๆ อันเกี่ยวกับข้อมูลส่วนบุคคลนั้น จะสามารถกระทำได้เมื่อได้รับอนุญาตและจะต้องรักษาความลับของข้อมูลส่วนบุคคลของท่านด้วย
            อย่างไรก็ตาม การส่งผ่านข้อมูลทางอินเตอร์เนตมิใช่ช่องทางที่ปลอดภัยเสียทีเดียว แม้ว่าเราจะดำเนินการให้ดีที่สุดในการคุ้มครองข้อมูลส่วนบุคคลของท่าน อย่างไรก็ตามเราไม่สามารถรับรองความปลอดภัยซึ่งข้อมูลของท่านที่ส่งผ่านช่องทางออนไลน์ใดๆ ได้ ดังนั้นการส่งผ่านข้อมูลยังคงเป็นความเสี่ยงของท่านต่อไป
        </p>

        <h3 id="สิทธิต่อข้อมูลส่วนบุคคลของท่าน">สิทธิต่อข้อมูลส่วนบุคคลของท่าน</h3>
        <p>
            ภายใต้กฎหมายที่มีผลบังคับใช้ ท่านมีสิทธิดังต่อไปนี้
        </p>
        <p>
            • เข้าถึงข้อมูลส่วนบุคคลของท่าน และขอรับสำเนาของข้อมูลส่วนบุคคลของท่าน
        <p>
            • ขอให้แก้ไข และ/หรือ ลบข้อมูลส่วนบุคคลของท่านในบางกรณี
        <p>
            • ขอให้ระงับการประมวลผลข้อมูลส่วนบุคคล หรือคัดค้านการประมวลผลข้อมูลส่วนบุคคลในบางกรณี
        <p>
            • เพิกถอนความยินยอมในการประมวลผลข้อมูลส่วนบุคคลของท่าน (เมื่อเราประมวลผลข้อมูลส่วนบุคคลของท่านโดยอ้างความยินยอมของท่าน)
        <p>
            • ขอรับหรือขอให้โอนย้ายข้อมูลส่วนบุคคลของท่านให้กับองค์กรอื่นในรูปแบบที่สามารถอ่านหรือใช้งานโดยทั่วไปได้ด้วยเครื่องมือหรืออุปกรณ์ที่ทำงานได้โดยอัตโนมัติ ซึ่งเป็นข้อมูลส่วนบุคคลที่ท่านให้ไว้กับเรา และเราได้ใช้ข้อมูลส่วนบุคคลของท่านโดยอ้างความยิมยอม หรือ เพื่อการปฏิบัติตามสัญญา
        <p>
            • ร้องเรียนต่อหน่วยงานที่กำกับดูแลด้านข้อมูลส่วนบุคคล ในกรณีที่ท่านถูกละเมิดสิทธิด้านข้อมูลส่วนบุคคลของท่าน หรือในกรณีที่ท่านได้รับความเสียหายอันเป็นผลมาจากการประมวลผลข้อมูลส่วนบุคคลของท่านที่ผิดกฎหมาย
        <p>
        <p />
        <p>
            เมื่อท่านมีตัวเลือกว่าจะให้ข้อมูลส่วนบุคคลกับเราหรือไม่ ท่านสามารถเลือกที่จะไม่ให้ข้อมูลนั้นกับเราได้ ถ้าเราได้ขอความยินยอมจากท่านเพื่อประมวลผลข้อมูลส่วนบุคคล และท่านได้เลือกที่จะถอนความยินยอมในภายหลัง เราจะเคารพการตัดสินใจของท่านและปฏิบัติตามหน้าที่ทางของกฎหมายของเรา

            อย่างไรก็ตาม การเลือกว่าจะไม่ให้ข้อมูลส่วนบุคคลของท่านกับเรา การเพิกถอนความยินยอมในการใช้ข้อมูลส่วนบุคคลหรือยกเลิกข้อตกลงในประกาศความเป็นส่วนตัวนี้ อาจทำให้เราไม่สามารถให้บริการที่จำเป็นต่อวัตถุประสงค์ของการประมวลผลข้อมูลส่วนบุคคลตามที่ระบุไว้ใน ข้อ II (การใช้ข้อมูลส่วนบุคคล) หรืออาจทำให้ท่านไม่สามารถใช้แอปฯและบริการได้
            <br>
            <p>
            เมื่อท่านเพิกถอนความยินยอมของท่าน เราจะยังสามารถประมวลผลข้อมูลส่วนบุคคลของท่านได้เท่าที่กฎหมายที่มีผลบังคับใช้กำหนดหรืออนุญาต
            <br>
            เราจะตรวจสอบและยืนยันคำขอของท่านก่อน เราอาจจะขอให้ท่านแสดงข้อมูลหรือเอกสารยืนยันประกอบคำขอเพื่อเป็นการระบุตัวตนและ/หรือยืนยันว่าท่านมีอำนาจที่จะขอใช้สิทธิ
            <br>
            เมื่อยืนยันได้แล้วว่าท่านมีอำนาจในการขอใช้สิทธิ เราจะดำเนินการปฏิบัติตามคำขอภายในระยะเวลาที่กฎหมายที่มีผลบังคับใช้กำหนด
        </p>


    </div>
</div>
<hr>