html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Cafeteria {
    transition: 0.2s;
}

    .Cafeteria:hover {
        filter: brightness(80%);
    }

.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background: white;
    color: black;
    transition: 0.2s;
}

    .previous:hover {
        padding-left: 1px;
        color: lightslategrey;
    }

.Restaurant {
    transition: 0.5s;
    filter: brightness(100%) drop-shadow(4px 4px 5px gray);
}

    .Restaurant:hover {
        filter: brightness(70%) drop-shadow(4px 4px 5px gray);
    }



.MenuOut span {
    color: white;
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: 0.5s;
}

.MenuIn{
    filter: brightness(100%) drop-shadow(4px 4px 5px gray);
    transition: 0.5s;
}

.MenuOut:hover span{
    display: inline;
    cursor: pointer;
}

.MenuOut:hover .MenuIn {
    filter: brightness(20%) drop-shadow(4px 4px 5px gray);
}

#Cart {
    border-radius: 50px;
    width: 0px;
    height: 0px;
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: black;
    transition: 0.5s;
    right: 0%;
    bottom: 5%;
    justify-content: center;
    align-items: center;
}

#Cart img{
    filter: invert(100%);
    max-width: 50%;
    max-height: 50%;
}



